# Dependencies

composer.lock
/vendor

# Generated

/.phpunit.cache
/.pest.cache
/.phpstan.cache
/.rector-cache
/.pint.cache
/coverage

# Overrides

phpunit.xml
phpstan.neon
testbench.yaml

# Secrets

.env
.env.*
!.env.example

# IDEs

/.idea
/.vscode

# OS

.DS_Store
Thumbs.db
